:root {
  --clr-red: hsl(0, 100%, 74%);
  --clr-green: hsl(154, 59%, 51%);
  --clr-blue: hsl(248, 32%, 49%);
  --clr-dark-blue: hsl(249, 10%, 26%);
  --clr-gray-blue: hsl(246, 25%, 77%);

  --ff-primary: "Poppins", sans-serif;
}
